.os{
    width:800px;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 80px auto;
    background-color: black;

}
.os:after {
    display: inline-block;
    content: "";
    width: 100%;
}
.os li{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: blueviolet;
    text-align: center;
    line-height: 1.2;
    position: relative;
    border-radius: 50%;
    
}
.os li:before{
    display: inline-block;
    content: attr(data-year);
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.os li:nth-child(odd):before{
    top:-40px;
}
.os li:nth-child(even):before{
    bottom:-40px;
}
.os li:after{
    display: inline-block;
    content: attr(data-text);
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.os li:nth-child(odd):after{
    top:40px;
}
.os li:nth-child(even):after{
    bottom:40px;
}